<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    {% block meta %}
    {% endblock meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BC</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% if request.get_full_path == "/" %}
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li><a href="project">Project</a></li>
                    <li><a href="matkul_create">Tambah Matkul</a></li>
                    <li><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/about" %}
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="about">About Me</a></li>
                    <li><a href="project">Project</a></li>
                    <li><a href="matkul_create">Tambah Matkul</a></li>
                    <li><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/project" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li class="active"><a href="project">Project</a></li>
                    <li><a href="matkul_create">Tambah Matkul</a></li>
                    <li><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/accordion" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li><a href="project">Project</a></li>
                    <li><a href="matkul_create">Tambah Matkul</a></li>
                    <li><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li class="active"><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/matkul_create" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li><a href="project">Project</a></li>
                    <li class="active"><a href="matkul_create">Tambah Matkul</a></li>
                    <li><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/list" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li><a href="project">Project</a></li>
                    <li><a href="matkul_create">Tambah Matkul</a></li>
                    <li class="active"><a href="list">List Matkul</a></li>
                    <li><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/kegiatan/" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/matkul_create">Tambah Matkul</a></li>
                    <li><a href="/list">List Matkul</a></li>
                    <li class="active"><a href="kegiatan">Kegiatan</a></li>
                    <li><a href="/accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/kegiatan/add_peserta" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/matkul_create">Tambah Matkul</a></li>
                    <li><a href="/list">List Matkul</a></li>
                    <li class="active"><a href="/kegiatan">Kegiatan</a></li>
                    <li><a href="/accordion">Accordion</a></li>

                    {% elif request.get_full_path == "/kegiatan/add_kegiatan" %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/matkul_create">Tambah Matkul</a></li>
                    <li><a href="/list">List Matkul</a></li>
                    <li class="active"><a href="/kegiatan">Kegiatan</a></li>
                    <li><a href="/accordion">Accordion</a></li>

                    {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/matkul_create">Tambah Matkul</a></li>
                    <li><a href="/list">List Matkul</a></li>
                    <li><a href="/kegiatan">Kegiatan</a></li>
                    <li><a href="/accordion">Accordion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="profile-main">
        {% block content %}
        {% endblock content %}
        <div style="clear: both;"></div>
        <footer>
            <div class="footer">
                <p><strong>Contact me:</strong></p><br>
                <div class="footer-box"><a href="https://www.facebook.com/brian.christian.39/"><i
                            class="fa fa-facebook"></i></a></div>
                <div class="footer-box"><a href="https://twitter.com/Brian_1801"><i class="fa fa-twitter"></i></a></div>
                <div class="footer-box"><a href="https://steamcommunity.com/profiles/76561198175372785"><i
                            class="fa fa-steam"></i></a></div>
            </div>
        </footer>
    </div>
</body>

</html>