{% extends 'base.html' %}

{% block meta %}
<title>Accordion!</title>
{% endblock meta %}

{% block content %}
<dl>
  <h1>Accordion</h1>
  <div class='field'>
    <div class="buttons">
      <button value='up' class='button'><i class="fa fa-arrow-circle-up"></i></button>
      <button value='down' class='button'><i class="fa fa-arrow-circle-down"></i></button>
    </div>
    <div class='content'>
      <dt>Identity</dt>
      <dd>Student at Universitas Indonesia</dd>
    </div>
  </div>

  <div class='field'>
    <div class="buttons">
      <button value='up' class='button'><i class="fa fa-arrow-circle-up"></i></button>
      <button value='down' class='button'><i class="fa fa-arrow-circle-down"></i></button>
    </div>
    <div class='content'>
      <dt>Current Activity</dt>
      <dd>
        Playing Apex Legends <br>
        Learning AVL Tree <br>
        Playing Visual Studio Code <br>
        Learning Django <br>
        Learning inner product space
      </dd>
    </div>
  </div>

  <div class='field'>
    <div class="buttons">
      <button value='up' class='button'><i class="fa fa-arrow-circle-up"></i></button>
      <button value='down' class='button'><i class="fa fa-arrow-circle-down"></i></button>
    </div>
    <div class='content'>
      <dt>Achievements</dt>
      <dd>
        Have 1059 achievements on steam <br>
        Have 4 perfect games on steam <br>
        Average game completion rate of 43% on steam <br>
        Owned 69 games on steam
      </dd>
    </div>
  </div>

  <div class='field'>
    <div class="buttons">
      <button value='up' class='button'><i class="fa fa-arrow-circle-up"></i></button>
      <button value='down' class='button'><i class="fa fa-arrow-circle-down"></i></button>
    </div>
    <div class='content'>
      <dt>Organizational Experience</dt>
      <dd>
        Ark: Survival Evolved private server admin <br>
        Owner of Gladiator Babel clan on Clash of Clans <br>
        Captain of Vegantigris Club on Apex Legends
      </dd>
    </div>
  </div>
</dl>

<script>
  $("dt").click(function () {
    $(this).toggleClass("open");
    if ($(this).hasClass("open"))
      $("dt").not(this).removeClass("open");
  })

  function moveUp(item) {
    var prev = item.prev();
    if (prev.length == 0)
      return;
    prev.css('z-index', 999).css('position', 'relative').animate({
      top: item.height()
    }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({
      top: '-' + prev.height()
    }, 300, function () {
      prev.css('z-index', '').css('top', '').css('position', '');
      item.css('z-index', '').css('top', '').css('position', '');
      item.insertBefore(prev);
    });
  }

  function moveDown(item) {
    var next = item.next();
    if (next.length == 0)
      return;
    next.css('z-index', 999).css('position', 'relative').animate({
      top: '-' + item.height()
    }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({
      top: next.height()
    }, 300, function () {
      next.css('z-index', '').css('top', '').css('position', '');
      item.css('z-index', '').css('top', '').css('position', '');
      item.insertAfter(next);
    });
  }

  $('button').click(function () {
    var btn = $(this);
    var val = btn.val();
    if (val == 'up')
      moveUp(btn.parents('.field'));
    else
      moveDown(btn.parents('.field'));
  });
</script>
{% endblock content %}