<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load static %}

<head>
  {% block meta %}
  <title>Welcome!</title>
  {% endblock meta %}
</head>

<body>
  {% block content %}
    <div class="profile-content">
      <div class="profile-image">
        <img src="/static/images/Foto.jpg">
      </div>
      <div class="profile-data">
        <h1>Hi! I'm Brian</h1>
        <div class="about-tag"><a href="about">
          <p>About Me -></p>
        </a>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  {% endblock content %}
</body>
</html>