{% extends 'base.html' %}

{% block meta %}
<title>Tambah Matkul</title>
{% endblock meta %}


{% block content %}
<div class="form-matkul">
    <h1>Tambah Mata Kuliah</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type='submit' class='button' value='Submit' />
    </form>
</div>
{% endblock content %}